build-vs2015/buttonrpc-demo/Release/
build-vs2015/buttonrpc-demo/buttonrpc-demo.VC.db
*.ipdb
*.pdb
*.iobj
cmake-build-*/
build/
bin/

#temp file: logs or snapshot
term_info?.txt
log?.txt
last_include_info?.txt
snapshot?.txt
