build-vs2015/buttonrpc-demo/Release/
build-vs2015/buttonrpc-demo/buttonrpc-demo.VC.db
*.ipdb
*.pdb
*.iobj
cmake-build-*/
build/
bin/
.idea/*

#temp file: logs or snapshot
log/log?.txt
term_info/term_info?.txt
snapshot/snapshot?.txt
last_include_info/last_include_info?.txt
